node_modules
.next
client/.next
out
build
tsconfig.tsbuildinfo
.env*
!.env.example
.agents
dist
files
.cursor
todo.md
*.gz
package.lock.json
yarn-error.log
assets/temp
package-lock.json
.dist*
.DS_Store
**/.DS_Store
.cache/puppeteer
.vscode
skills-lock.json
.agents
.agents/
.agents/**
.agent
.agent/
.agent/**